<a (click)="goBack()">Back to Zones</a><br>

<h3 *ngIf="selectedZone">{{selectedZone.name}}</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody *ngIf="routes">
        <tr *ngFor="let route of routes">
            <th scope="row" *ngIf="route" >{{ route.identifier }}</th>
            <td>
                <a (click)="routeChoice(route.id)">{{route.name}}</a>
            </td>
            <td>
                <a (click)="routeChoice(route.id)">{{route.value}}</a>
            </td>
            
        </tr>
    </tbody>
    </table>
