<div class="container">
    <div class="form-group form-inline" >
        <a routerLink="/roundlist/{{selectedComp.id}}/{{selectedGym.id}}" style="float:left;" *ngIf="selectedGym && selectedComp">Back to Rounds</a>
    </div>
    <br>

    <h4 *ngIf="selectedGym">{{selectedGym.name}}</h4>
    <h3 *ngIf="selectedComp && selectedRound">{{selectedComp.name}}: {{selectedRound.name}}</h3>
    <div class="container" >
        <div class="custom-control custom-switch" >
            Results
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
            <label class="custom-control-label" for="customSwitch1">Edit</label>
        </div>
    </div>
</div>