<div class="container">
  <nav class="navbar navbar-default" style="background-color: #701c1c;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-brand" style="color:#fff; font-size:30px;padding-top:24px;">5.Score</div>
      <div class="navbar-header" style="float:right; ">
        <img src="assets/images/mountain.jpg" style="height:70px; margin-right:15px;">
      </div>
      
    </div>
  </nav>
  
  <div class="container" style="border: 1px solid #ddd; max-width: 100%; height: calc(100vh - 110px); padding:0px;">
    <router-outlet></router-outlet>
  </div>
  
</div>

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="mainModalTitle">Modal title</h5>
        
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>