<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gym of gyms$ | async">
      <th scope="row">{{ gym.id }}</th>
      <td>
        <ngb-highlight [result]="gym.name" [term]="filter.value"></ngb-highlight>
      </td>
      
    </tr>
    </tbody>
  </table>