<div class="container boundingBox">
    <a routerLink="/gyms" style="float:left;">Back to Gyms</a>
    <div class="form-group form-inline" style="float:right;">
        <form>
            <input class="form-control ml-2" type="text" [formControl]="filter" #compSearchInput (click)="compSearchInput.select()"/>
        </form>
    </div>
    <br>

    <h3 *ngIf="selectedGym">Competitions: {{selectedGym.name}}</h3>
    

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comp of comps$ | async" >
        <th scope="row" *ngIf="comp">{{ comp.id }}</th>
        <td *ngIf="comp">
            <a routerLink="/roundlist/{{comp.id}}/{{selectedGym.id}}" *ngIf="comp && selectedGym"><ngb-highlight [result]="comp.name" [term]="filter.value"></ngb-highlight></a>
        </td>
        
    </tr>
    </tbody>
    </table>
</div>