
<!-- <button (click)="addClimber(2)">Add Climber (test)</button>&nbsp;&nbsp; -->
<button (click)="nextClimber()">Next Climber</button>

<div class="tablediv">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody *ngIf="queue">
            <tr *ngFor="let climber of queue">
                <th scope="row" *ngIf="climber">{{climber.id}}</th>
                <td>
                    <a (click)="climberChoice(climber.id)">{{climber.firstName}}</a>
                </td>
                <td>
                    <a (click)="climberChoice(climber.id)">{{climber.lastName}}</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<br>

<div style="text-align: center;">
    <div style="width:50%; height:200px; display:inline-block;">
        <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    </div>
</div>

